/* soft reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/artificial-intelligence-2228610_1280.jpg');
  background-size: 100vw 100vh;
  font-family: 'Merienda', cursive;
  height: 100vh;
  /* backdrop-filter: blur(4px); */
  font-size: 12px;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: flex;
  padding: 10px 20px;
  transition: background-color 1s, color 2s;
}

.menu a:hover {
  text-decoration: none;
  background-color: dimgray;
  color: whitesmoke;
}

a {
  color:dimgray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  animation: linear 1s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.5) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
  box-shadow: 0px 0px 10px white;
  border-radius: 1em;
}

.site-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
}
  
.site-subtitle {
  font-family: 'Kaushan Script', cursive;
  font-style: italic;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Righteous', cursive;
}

.sobre p {
  color: whitesmoke;
  text-indent: 1em;
  margin-bottom: 1em;
  text-align: justify;
}

.sobre a {
  color: whitesmoke;
  text-decoration: underline;
}

.sobre a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 10px aqua;
}

.sobre .avatar {
  float: right;
  margin-left: 2em;
}

.sobre .avatar img{
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.portfolio .grid{
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 120px);
  justify-content: space-around;
  align-content: center;
}

@media (min-width: 400px) {
  .portfolio .grid{
    grid-template-columns: repeat(2, 180px);
  } 
}

@media (min-width: 600px) {
  .portfolio .grid{
    grid-template-columns: repeat(3, 180px);
  } 
}

.portfolio figure{
  text-align: center;
}

.img-portfolio {
  height: 100px;
  width: 100px;
  object-fit: fill;
  border-radius: 30%;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.5) rotate(15deg);
}

@media (min-width: 400px) {
  .img-portfolio {
    height: 100px;
    width: 180px;
  }
}

.icons  {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  justify-content: space-around;
}

@media (min-width: 400px) {
  .icons  {
    grid-template-columns: repeat(4, 50px);
  }
}

.contato a {
  color: whitesmoke;
  font-size: 5em;
  transition: text-shadow 1s;
}

.contato a:active {
  text-decoration: none;
  color: aqua;
}

.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 50px aqua;
}